<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
   <div class="login" style="display: flex; align-items: center; justify-content: center; flex-direction: column;">
    login page
    <form action="/login" method="post" style="display: flex; flex-direction: column; width: 300px;">
        <input type="text" name="email" id="" placeholder="Enter email id">
        <input type="text" name="password" id="" placeholder="Enter password">
        <button type="submit">Login</button>
        
    </form>
     don't have a account <a href="/signup">signup</a>
   </div>
</body>
</html>