<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>post</title>
</head>
<body>
    <div class="post">
        <form action="/post">

            <input type="text" name="image" id="" placeholder="Enter the image url">
            <input type="text" name="description" id="" placeholder="Enter the description for post">

            <button>Create post</button>
            <a href="/edit">edit</a>
            <a href="/delete">delete</a>

        </form>
    </div>
</body>
</html>