<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
   <div class="signup" style="display: flex;flex-direction: column; align-items: center;justify-content: center;">
    Signup page
    <form action="/signup" method="post" style="display: flex;flex-direction: column;width: 300px;">
        <input type="text" name="username" id="" placeholder="Enter username">

        <input type="text" name="email" id="" placeholder="Enter email id">
        <input type="password" name="password" id="" placeholder="Enter password">
        <button type="submit">Signup</button>
        
    </form>
     have a account <a href="/login">Login</a>
   </div>
</body>
</html>