<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
        <h1>Hell world</h1>

        <form action="/formdata" method="post" style="display: flex; flex-direction: column; width: 300px;">

            <input type="text" name="username" placeholder="enter your username">
            <input type="text" name="email" placeholder="enter your email">
            <input type="password" name="password" placeholder="Enter password">
            <button type="submit">Login</button>
        </form>
</body>
</html>